.container
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item
{
  background: red;
  padding: 25px;
  width: 100px;
  height: 100px;
  margin-top: auto;
  line-height: 50px;
  color: green;
  text-align: center;
}
